.about-head {
    margin-bottom: 30px;
}
.about {
    margin: 100px 150px;
    margin-bottom: 20rem;
  }
  
  .about-content {
    margin-bottom: 40px;

  }
  
  .about-content h2 {
    color: #333;
  }

  .about-content h4 {
    color: #333;
    margin-top: 10px;
  }
  
  .about-content p {
    color: #555;
  }
  
  .mailing-list h2,
  .mailing-list p {
    color: #555555;
  }
  
  .mailing-list-input {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;
  }
  
  .mailing-list-input input {
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
  }
  
  .mailing-list-input button {
    width: max(10vw, 150px);
    padding: 12px 5px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 4px;
  }
  
  @media (max-width: 750px) {
    /* Add responsive styles here if needed */
  }
  